.bai1{
  color: red;
}
.bai2{
  background-color: #FFD2FF;
}
.bai2 h1{
  text-align: center;
  color: #4CAF50;
}
.bai2 p{
  text-indent: 50px;
  word-spacing: 3px;
}
.bai3 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.bai3 h1 {
    color: #FF3399;
    background-color: #FECFFD;
}

.doan1, .doan2, .doan3 {
    background-color: #FFFFCC;
    margin: 0;
    padding: 1px 0;
}

