*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header img{
  height: 70px;
  width: 150px;
}
header{
  height: 70px;
  display: flex;
  width: 100%;
}

.menu-ngang ul li{
  list-style-type: none;
  padding: 20px;
  height: 70px;
}
.menu-ngang ul li a{
  text-decoration: none;
  color: black;
  padding: 20px;
}
.menu-ngang ul li:hover{
  background-color: #0e4b8a;
}
.menu-ngang ul li:hover >a{
  color: #f5f4f4;
}
.menu-ngang-1 {
  display: flex;
  
}

.menu-ngang-1 li{
  position: relative;
  z-index: initial;
}
.menu-ngang-2{
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
}
.menu-ngang-2 li{
  background-color: #0e4b8a;
}
.menu-doc-2 li{
  background-color: #0e4b8a;
}
.menu-ngang-1 li:hover .menu-ngang-2{
  display: block;
}

section{
  display: flex;
}
section img{
  height: 300px;
  width: 1200px;
}
.menu-doc{
  width: 150px;
}

.menu-doc ul li{
  list-style-type: none;
  padding: 20px;
  height: 70px;
}
.menu-doc ul li a{
  text-decoration: none;
  color: black;
  padding: 20px;
}
.menu-doc ul li:hover{
  background-color: #0e4b8a;
}
.menu-doc ul li:hover >a{
  color: #f5f4f4;
}


.menu-doc-1 li{
  position: relative;
  
}
.menu-doc-2{
  position: absolute;
  display: none;
  left: 100%;
  top: 0;
}
.menu-doc-1 li:hover .menu-doc-2{
  display: block;
}

.info-1{
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}
.info-2{
  margin: 20px;
}
.icon{
  display: flex;
  padding-top: 10px;
}
.icon img{
  height: 30px;
  width: 100px;
  margin-right: 10px;
}
footer{
  background-color: #0e4b8a;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  color: white;
}
.card{
  padding: 20px 40px;
}
.card h4{
  padding-bottom: 10px;
}
.images{
  display: flex;
}
.images img{
  height: 40px;
  width: 40px;
  margin: 10px;
}