*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu{
  background-color: rgb(4, 40, 62);
}
.menu-level-1{
  display: flex;
}
.menu-level-1 li{
  padding: 20px 0;
  list-style: none;
  position: relative;
}

.menu-level-1 li a{
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  text-transform: capitalize;
}
.menu-level-1 li a:hover{
  color: black;
  background-color: white;
}
.menu-level-2 {
  display: none;
  top: 100%;
  position: absolute;
  background-color: rgb(4, 40, 62);
}

.menu-level-1 li:hover .menu-level-2{
  display: block;
}
.menu-level-2 li {
  width: 150px;
  height: 60px;
  display: flex;
  padding: 0;
  margin: 0;
  top: 100%;
}
.menu-level-2 li a{
  width: 100%;
}
